**/.ipynb_checkpoints
**/__pycache__
/venv
_build
trash
.macnb
*.rename
obsolete-notebooks/
riddles/
temporaire.*
islice.txt
tmp.txt
test.txt
ap-homework
p24-hackathon
node_modules/
p24/
quiz-artefacts/
my-ap-homework/
nature-git-cloned/
