
# i.e. libraries used for running
# code in the notebooks per se
#
numpy
pandas
matplotlib
scikit-learn
aiohttp
requests

mpld3
bokeh
jupyter-bokeh
plotly
folium
vispy
seaborn
pygal
networkx
mypy
autograd
k3d
geopandas
# keplergl
graphviz
scikit-learn

nbautoeval
ipythontutor
ipywidgets
ipympl

# jupyter extensions
#
jupyter
jupytext
jupyterlab-myst
jupyterlab-courselevels
jupyterlab-gridwidth
jupyterlab-rise
