# first we have the core requirements
# i.e. libraries used for running
# code in the notebooks per se
#
ipykernel
ipythontutor
nbautoeval
ipywidgets
numpy
pandas
matplotlib
sklearn
aiohttp
requests

# jupyter extensions
#
rise
jupyter-contrib-nbextensions

# this part is more for authors
#
#jupyterlab
#nbstripout
#nbdime
#nbmerge

#
# this part is for readthedocs or similar
#
# ipypublish[sphinx]
# nov 2020: latest panflute 2.0.5 breaks our build
# pin panflute to avoid this mysterious-looking error in readthedocs build
# TypeError: ('invalid api version', [1, 17, 0, 5])
#panflute==1.12.5
#sphinx-rtd-theme
#jupytext
#jupyter_client

jupyter-book
smmap<4,>=3.0.1
