# first we have the core requirements
# i.e. libraries used for running
# code in the notebooks per se
#
ipykernel
ipythontutor
nbautoeval
nb-courselevels
ipywidgets
numpy
pandas
matplotlib
sklearn
aiohttp
requests

# jupyter extensions
#
rise
jupyter-contrib-nbextensions

# for authoring
jupyter-book
smmap<4,>=3.0.1
